@import "../01-base/_foundation";

@mixin centerItems {
    justify-content: center;
    align-items: center;
}


main {
    @include centerItems();
    display: flex;
    height: 100vh;
    background-image: url('../../images/landing-bg.png');
    background-repeat: none;
    background-size: cover;
    position: relative;
}

.hero {
    width: 900px;
    height: 600px;
    flex-shrink: 0;

    .signIn {
        display: flex;
        height: 100%;
        background-color: white;
        border-radius: 50px;
    }

    .left-signIn {
        width: 60%;
        margin: 100px;
        align-items: center;
        text-align: center;
        
        
        .label-signIn {
            text-align: center;
            font-weight: bold;
            margin-bottom: 30px;
        }

        .form-input {
            text-align: left;

        }

        .form-row {
            @include centerItems();
            display: flex;
            width: 100%;

            .form-check-label {
                display: flex;
                align-items: center;
                
                span {
                    margin-left: 10px;
                }   
            }
            a {
                margin-left: auto;
            }
        }

        .btn-signIn {
            margin-top: 100px;
            background-color: #213B9A;
            color: white;
            width: 160px;
            border-radius: 116px;  
            font-weight: 600; 
        }

        .btn-signIn:hover {
            background-color: #2d4ec6;
        }
    }

    .right-signIn {
        @include centerItems();
        text-align: center;
        width: 40%;
        background-color: #FBAF41;
        color: black;
        border-radius: 0px 50px 50px 0px;
        

        .sao-logo {
            width: 25%;
        }
     

        .contents-right-signIn {
            margin-top: 70px;
        }

        .welcomeTitle {
            font-weight: bold;
            line-height: 30px;
            
        }

        .title-tagline {
            margin-top: 40px;
        }

        .rdr-signUp {
            color: white;
            line-height: 10px;
            font-size: 13px;
            font-style: italic;
            margin-top: 125px;
        
            .btn-signUp {
                background-color: transparent;
                border: 1px solid white;
                border-radius: 20px;
                width: 150px;
                color: white;
            }

            .btn-signUp:hover {
                background-color: white;
                color: #FBAF41;
            }
        }
    }
}