@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background-image: url("../../images/landing-bg.png");
  background-repeat: none;
  background-size: cover;
  position: relative;
}

.hero {
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 600px;
  flex-shrink: 0;
  position: absolute;
}
.hero .signIn {
  background-color: white;
  border-radius: 50px;
  position: absolute;
}
.hero .signIn .left-signIn {
  width: 60%;
  margin: 90px 100px 100px 100px;
  align-items: center;
  text-align: center;
}
.hero .signIn .left-signIn .label-signIn {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
.hero .signIn .left-signIn .form-signIn {
  text-align: left;
}
.hero .signIn .left-signIn .form-row {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
.hero .signIn .left-signIn .form-row .form-check-label {
  display: flex;
  align-items: center;
}
.hero .signIn .left-signIn .form-row .form-check-label span {
  margin-left: 10px;
}
.hero .signIn .left-signIn .form-row a {
  margin-left: auto;
}
.hero .signIn .left-signIn .btn-signIn {
  margin-top: 100px;
  background-color: #213B9A;
  color: white;
  width: 160px;
  border-radius: 116px;
  font-weight: 600;
}
.hero .signIn .left-signIn .btn-signIn:hover {
  background-color: #2d4ec6;
}
.hero .signIn .right-signIn {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  background-color: #FBAF41;
  color: black;
  border-radius: 0px 50px 50px 0px;
}
.hero .signIn .right-signIn .sao-logo {
  width: 25%;
}
.hero .signIn .right-signIn .contents-right-signIn {
  margin-top: 70px;
}
.hero .signIn .right-signIn .welcomeTitle {
  font-weight: bold;
  line-height: 30px;
}
.hero .signIn .right-signIn .title-tagline {
  margin-top: 40px;
}
.hero .signIn .right-signIn .rdr-signUp {
  color: white;
  line-height: 10px;
  font-size: 13px;
  font-style: italic;
  margin-top: 125px;
}
.hero .signIn .right-signIn .rdr-signUp .btn-signUp {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 150px;
  color: white;
}
.hero .signIn .right-signIn .rdr-signUp .btn-signUp:hover {
  background-color: white;
  color: #FBAF41;
}
.hero .signUp {
  display: none;
  position: absolute;
  height: 100%;
  background-color: white;
  border-radius: 50px;
}
.hero .signUp .left-signUp {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  background-color: #FBAF41;
  color: black;
  border-radius: 50px 0px 0px 50px;
}
.hero .signUp .left-signUp .sao-logo {
  width: 25%;
}
.hero .signUp .left-signUp .contents-left-signUp {
  margin-top: 140px;
}
.hero .signUp .left-signUp .welcomeTitle {
  font-weight: bold;
  line-height: 30px;
}
.hero .signUp .left-signUp .title-tagline {
  margin-top: 40px;
}
.hero .signUp .left-signUp .rdr-goBack {
  color: white;
  line-height: 10px;
  font-size: 13px;
  font-style: italic;
  margin-top: 125px;
}
.hero .signUp .left-signUp .rdr-goBack .btn-goBack {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  width: 150px;
  color: white;
}
.hero .signUp .left-signUp .rdr-goBack .btn-goBack:hover {
  background-color: white;
  color: #FBAF41;
}
.hero .right-signUp {
  width: 60%;
  margin: 50px 100px 100px 100px;
  align-items: center;
  text-align: center;
}
.hero .right-signUp .label-signUp {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.hero .right-signUp .form-signUp {
  text-align: left;
  line-height: 20px;
}
.hero .right-signUp .btn-signUp {
  margin-top: 10px;
  background-color: #213B9A;
  color: white;
  width: 160px;
  border-radius: 116px;
  font-weight: 600;
}
.hero .right-signUp .btn-signUp:hover {
  background-color: #2d4ec6;
}
.hero .signIn, .hero .signUp {
  opacity: 0;
  visibility: hidden;
  display: flex;
  transition: opacity 0.5s ease, visibility 1s ease;
}
.hero .signIn.active, .hero .signUp.active {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=index.css.map */