@import "../01-base/_foundation";

@mixin centerItems {
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;


    .sao-portal_logo {
        width: 10%;
        margin-left: 32px;
        cursor: pointer;
    }

    .fa-bell {
        width: 50px;
        margin-left: auto;
        cursor: pointer;
        color: #213B9A;
        
    }

    .user-burger {
        margin-right: 24px;
        background-color: #213B9A;
        padding: 6px 12px;
        align-items: center;
        display: flex;
        border-radius: 28px;
        

        .fa-user {
            @include centerItems();
            display: flex;
            color: #213B9A;
            background-color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;   
            margin-right: 16px;
            cursor: pointer;

        }

        .fa-bars {
            color: white;
            @include centerItems();
            margin-right: 4px;
            cursor: pointer;
            
            
        }
    }
}


main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
    
    
    h1 {
        font-weight: bold;
        margin-bottom: 20px;
        
    }

    .card {
        width: 800px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EDEDED;
        border: none;
        border-radius: 30px;
        box-shadow: 2px 5px 5px rgb(156, 156, 156);
        cursor: pointer;
    }

    .fa-ellipsis {
        position: absolute;
        top: 20px; // Adjust as needed
        right: 25px; // Adjust as needed
        cursor: pointer;
        z-index: 10; // Ensure the icon appears above other elements
        
    }

    .row {
        display: flex; 
        align-items: center; 
    }

    .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center; 

        .img-org {
            border-radius: 50%;
            object-fit: cover;
            width: 100px;
            height: 100px;
            
        }
    }

    .card-body {
        margin-top: 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        
        
    }
}

